@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-secondary: #64748b;
  --color-background: #ffffff;
  --color-foreground: #171717;
}

body {
  color: var(--color-foreground);
  background: var(--color-background);
  font-family: Arial, Helvetica, sans-serif;
}
